#gui {

    -moz-user-select: none;
    -khtml-user-select: none;
}

.dialog {
    position: relative;
    z-index: 2;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 600px;
    height: 400px;
    /*height: 60.5%;*/
    top: 8.133333%;
    border-color: red;
    border-style: solid;
    border-width: 2px;;
    -moz-user-select: none;
    -khtml-user-select: none;
}


.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255, 255, 255, .38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}

.cover {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.button-pass {
    cursor: pointer;
    margin-top: 40px;
    background: none;
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    outline: none;
    border: 1px solid;
    font-size: 20pt;
}

.button-pass:active {
    color: #fff;
}



.error_type {
    display: block;
    background: red;
}

.success_type {
    display: block;
}

.impossible {
    font-size: 50px;
    margin-bottom: 30px;
}

.wide {
    font-size: 30px;
}

.miss {
    font-size: 25px;
}

.container {
    width: 1024px;
    height: 800px;
    margin-top: 100px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}


.status {
    width: 100%;
    position: relative;
    z-index: 2;
    font-size: 30pt;
}


.transparentMessage {
    background-color: white;
    opacity: 0.7;
    border-radius: 40px;
    padding: 15px;
}

.informer {
    display: none;
    width: 300px;
    padding: 15px;
    background-color: red;
    color: white;
    border-radius: 40px;
}

.impossible {
    font-family: myFirstFont, serif;
}

@font-face {
    font-family: myFirstFont;
    src: url(my-font.ttf);
}

body {
    font-family: Verdana, serif;
}
